<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.grameenfoundation.expensemanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:permission="android.permission.READ_USER_DICTIONARY"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyActivity"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".AddExpense"
            android:windowSoftInputMode="stateVisible" />

        <provider
            android:name=".Helpers.ExpenseProvider"
            android:authorities="org.grameenfoundation.provider.expensemanager"
            android:exported="true" />

        <activity android:name=".MonthlyActivity" />
        <activity android:name=".MonthlyBudget">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".AddBudget">

        </activity>
    </application>

</manifest>
